services:
  mkdocs:
    image: python:3.11
    labels:
      # Traefik configuration
      - "traefik.enable=true"
      - "traefik.http.routers.djangoninja-docs.rule=Host(`djangoninja.brunononogaki.com`)"
      - "traefik.http.routers.djangoninja-docs.entrypoints=websecure"
      - "traefik.http.routers.djangoninja-docs.tls=true"
      - "traefik.http.services.djangoninja-docs.loadbalancer.server.port=8001"
      - "traefik.docker.network=my-network"
    volumes:
      - ./:/docs
    networks:
      - my-network      
    working_dir: /docs
    command: /bin/sh -c "pip install mkdocs && pip install mkdocs-material && mkdocs serve -a 0.0.0.0:8001"    

networks:
  my-network:
    external: true